<div class="menu-container is-hidden" data-menu>
  <div class="mobile-logo">
    <a href="" class="header-logo">
      <svg class="logo-icon" width="14" height="14">
        <use href="../img/icons.svg#logo"></use>
      </svg>
      thewatchspot
    </a>
  </div>
  <button class="menu-close" data-menu-close>
    <svg class="close-icon" width="24" height="24">
      <use href="../img/icons.svg#close"></use>
    </svg>
  </button>
  <nav>
    <ul class="mobile-menu list">
      <li class="mobile-menu-item">
        <a href="#about-us" class="mobile-menu-link link">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#catalog" class="mobile-menu-link link">Catalog</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#sale" class="mobile-menu-link link">Sale</a>
      </li>
    </ul>
  </nav>
</div>
