<section class="section-catalog">
  <div class="container">
    <h1 class="section-cat-h1" id="section1">Catalog</h1>
    <ul class="watch-set list">
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="
                  ./img/tube-watch-s42.jpg    1x,
                  ./img/tube-watch-s42-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/tube-watch-s42-mob.jpg    1x,
                  ./img/tube-watch-s42-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/tube-watch-s42.jpg"
                alt="tube-watch-s42"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title">
              Tube Watch S42 Date Steel With Black Case
            </h2>
            <p class="catalog-text">€395</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="
                  ./img/avondale-watch.jpg    1x,
                  ./img/avondale-watch-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/avondale-watch-mob.jpg    1x,
                  ./img/avondale-watch-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/avondale-watch.jpg"
                alt="avondale-watch"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title">Avondale Watch Police For Men</h2>
            <p class="catalog-text">€800</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="./img/diver-300m.jpg 1x, ./img/diver-300m-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/diver-300m-mob.jpg    1x,
                  ./img/diver-300m-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/diver-300m.jpg"
                alt="diver-300m"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title-one">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </h2>
            <p class="catalog-text">€600</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="
                  ./img/diver-300m-silver.jpg    1x,
                  ./img/diver-300m-silver-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/diver-300m-silver-mob.jpg    1x,
                  ./img/diver-300m-silver-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/diver-300m-silver.jpg"
                alt="diver-300m-silver"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title-one">
              Diver 300M Co-Axial Master Chronometer
            </h2>
            <p class="catalog-text">€1400</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="./img/taman-watch.jpg 1x, ./img/taman-watch-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/taman-watch-mob.jpg    1x,
                  ./img/taman-watch-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/taman-watch.jpg"
                alt="taman-watch"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title">Taman Watch By Police For Men</h2>
            <p class="catalog-text">€500</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="./img/malawi-watch.jpg 1x, ./img/malawi-watch-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/malawi-watch-mob.jpg    1x,
                  ./img/malawi-watch-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/malawi-watch.jpg"
                alt="malawi-watch"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title">Malawi Watch Police For Men</h2>
            <p class="catalog-text">€555</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="
                  ./img/diver-300m-(2).jpg    1x,
                  ./img/diver-300m-(2)-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/diver-300m-(2)-mob.jpg    1x,
                  ./img/diver-300m-(2)-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/diver-300m-(2).jpg"
                alt="diver-300m-(2)"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title-two">
              Diver 300M Co-Axial Master Chronometer
            </h2>
            <p class="catalog-text">€1200</p>
          </div>
        </a>
      </li>
      <li class="section-catalog-item list link">
        <a href="" class="catalog-photo link">
          <div class="card">
            <picture>
              <source
                srcset="./img/greenlane.jpg 1x, ./img/greenlane-2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/greenlane-mob.jpg    1x,
                  ./img/greenlane-2x-mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="watch-card link"
                src="./img/greenlane.jpg"
                alt="greenlane"
                width="276"
                height="274"
              />
            </picture>
            <div class="ovelay-text">
              <h2 class="overlay-h">Description</h2>
              <p class="overlay">
                Richly detailed with an<br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
              <p class="overlay-p">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM)<br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-content">
            <h2 class="catalog-title">Greenlane Watch By Police For Men</h2>
            <p class="catalog-text">€1000</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="watch-add">
      <ul class="watch-set list">
        <li class="section-catalog-item list link">
          <a href="" class="catalog-photo link">
            <div class="card">
              <picture>
                <source
                  srcset="
                    ./img/squardrc-5402.jpg    1x,
                    ./img/squardrc-5402-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="watch-card link"
                  src="./img/squardrc-5402.jpg"
                  alt="squardrc-5402"
                  width="276"
                  height="274"
                />
              </picture>
              <div class="ovelay-text">
                <h2 class="overlay-h">Description</h2>
                <p class="overlay">
                  Richly detailed with an<br />
                  understated design - the Police Men’s Greenlane watch.
                </p>
                <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
                <p class="overlay-p">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </div>
            </div>
            <div class="card-content">
              <h2 class="catalog-title">Squardrc 5402 Chrono</h2>
              <p class="catalog-text">€359</p>
            </div>
          </a>
        </li>
        <li class="section-catalog-item list link">
          <a href="" class="catalog-photo link">
            <div class="card">
              <picture>
                <source
                  srcset="
                    ./img/diver-300m-(3).jpg    1x,
                    ./img/diver-300m-(3)-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="watch-card link"
                  src="./img/diver-300m-(3).jpg"
                  alt="diver-300m-(3)"
                  width="276"
                  height="274"
                />
              </picture>
              <div class="ovelay-text">
                <h2 class="overlay-h">Description</h2>
                <p class="overlay">
                  Richly detailed with an<br />
                  understated design - the Police Men’s Greenlane watch.
                </p>
                <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
                <p class="overlay-p">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </div>
            </div>
            <div class="card-content">
              <h2 class="catalog-title-two">
                Diver 300M Co‑Axial Master Chronometer Chronograph
              </h2>
              <p class="catalog-text">€400</p>
            </div>
          </a>
        </li>
        <li class="section-catalog-item list link">
          <a href="" class="catalog-photo link">
            <div class="card">
              <picture>
                <source
                  srcset="./img/citizen.jpg 1x, ./img/citizen-2x.jpg 2x"
                  media="(min-width: 1280px)"
                />
                <img
                  class="watch-card link"
                  src="./img/citizen.jpg"
                  alt="citizen"
                  width="276"
                  height="274"
                />
              </picture>
              <div class="ovelay-text">
                <h2 class="overlay-h">Description</h2>
                <p class="overlay">
                  Richly detailed with an<br />
                  understated design - the Police Men’s Greenlane watch.
                </p>
                <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
                <p class="overlay-p">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </div>
            </div>
            <div class="card-content">
              <h2 class="catalog-title">Citizen</h2>
              <p class="catalog-text">€519</p>
            </div>
          </a>
        </li>
        <li class="section-catalog-item list link">
          <a href="" class="catalog-photo link">
            <div class="card">
              <picture>
                <source
                  srcset="
                    ./img/armani-exchange.jpg    1x,
                    ./img/armani-exchange-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="watch-card link"
                  src="./img/armani-exchange.jpg"
                  alt="armani-exchange"
                  width="276"
                  height="274"
                />
              </picture>
              <div class="ovelay-text">
                <h2 class="overlay-h">Description</h2>
                <p class="overlay">
                  Richly detailed with an<br />
                  understated design - the Police Men’s Greenlane watch.
                </p>
                <h2 class="overlay-h">DETAILS & FEATUREStion</h2>
                <p class="overlay-p">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </div>
            </div>
            <div class="card-content">
              <h2 class="catalog-title">Armani Exchange</h2>
              <p class="catalog-text">€400</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <button class="button-roll" type="button">Buy now</button>
  </div>
</section>
