<header class="header">
     <div>
          <a href="" class="header-logo">thewatchspot
          <svg class="logo-icon" width="" height="">
               <use href="../img/icons.svg#logo"></use>
          </svg>
          <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="burger-icon" width="24" height="24">
               <use href="../img/icons.svg#burger"></use>
        </svg>
     </button>
     </div>
 <!-- ------------ mobile-menu -------- -->
     <div class="menu-container js-menu-container" id="mobile-menu">
          <button class="menu-toggle js-close-menu">
          <svg class="close-icon" width="24" height="24">
               <use href="../img/icons.svg#close"></use>
          </svg></button>
        <nav>
           <ul class="mobile-menu list">
            <li class="mobile-menu-item">
              <a href="./about-us.html" class="mobile-menu-link link">About us</a>
            </li>
            <li class="mobile-menu-item">
              <a href="./catalog.html" class="mobile-menu-link link"
                >Catalog</a>
            </li>
            <li class="mobile-menu-item">
              <a href="./sale.html" class="mobile-menu-link link">Sale</a>
            </li>
          </ul>
        </nav>
     </div>
</header>
