<section class="hero">
  <div class="container">
    <div class="hero-tablet">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>

      <div class="hero-tablet-wrap">
        <div class="swiper">
          <div class="swiper-wrapper">
            <picture class="swiper-slide">
              <source
                srcset="
                  ./img/hero/watch-type-1-1x.jpeg 1x,
                  ./img/hero/watch-type-1-2x.jpeg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/hero/watch-type-1-tablet-1x.jpeg 1x,
                  ./img/hero/watch-type-1-tablet-2x.jpeg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <img src="./img/hero/watch-type-1-1x.jpeg" alt="watch-series" />
            </picture>
            <picture class="swiper-slide">
              <source
                srcset="
                  ./img/hero/watch-type-2-1x.jpeg 1x,
                  ./img/hero/watch-type-2-2x.jpeg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/hero/watch-type-2-tablet-1x.jpeg 1x,
                  ./img/hero/watch-type-2-tablet-2x.jpeg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <img src="./img/hero/watch-type-2-1x.jpeg" alt="watch-series" />
            </picture>
            <picture class="swiper-slide">
              <source
                srcset="
                  ./img/hero/watch-type-3-1x.jpeg 1x,
                  ./img/hero/watch-type-3-2x.jpeg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/hero/watch-type-3-tablet-1x.jpeg 1x,
                  ./img/hero/watch-type-3-tablet-2x.jpeg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <img src="./img/hero/watch-type-3-1x.jpeg" alt="watch-series" />
            </picture>
            <picture class="swiper-slide">
              <source
                srcset="
                  ./img/hero/watch-type-4-1x.jpeg 1x,
                  ./img/hero/watch-type-4-2x.jpeg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/hero/watch-type-4-tablet-1x.jpeg 1x,
                  ./img/hero/watch-type-4-tablet-2x.jpeg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <img src="./img/hero/watch-type-4-1x.jpeg" alt="watch-series" />
            </picture>
            <picture class="swiper-slide">
              <source
                srcset="
                  ./img/hero/watch-type-5-1x.jpeg 1x,
                  ./img/hero/watch-type-5-2x.jpeg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/hero/watch-type-5-tablet-1x.jpeg 1x,
                  ./img/hero/watch-type-5-tablet-2x.jpeg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <img src="./img/hero/watch-type-5-1x.jpeg" alt="watch-series" />
            </picture>
          </div>
          <div class="swiper-control">
            <div class="hero-swiper-nav">
              <button class="button-prev hero-btn">
                <svg class="hero-icon">
                  <use href="./img/icons.svg#left"></use>
                </svg>
              </button>
              <button class="button-next hero-btn">
                <svg class="hero-icon">
                  <use href="./img/icons.svg#right"></use>
                </svg>
              </button>
            </div>
            <div class="swiper-img-number">
              <span class="swiper-currant-img">01</span>
              <span class="swiper-strip"></span>
              <span>05</span>
            </div>
          </div>
        </div>

        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/hero/hero-img-1x.jpeg 1x,
            ./img/hero/hero-img-2x.jpeg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/hero/hero-img-desktop-1x.jpeg 1x,
            ./img/hero/hero-img-desktop-2x.jpeg 2x
          "
          media="(min-width: 1280px) "
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/hero/hero-img-tablet-1x.jpeg 1x,
            ./img/hero/hero-img-tablet-2x.jpeg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <img src="./img/hero/hero-img-1x.jpeg" alt="watch-on-wrist" />
      </picture>
    </div>
    <div class="hero-desktop">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <div class="swiper">
        <div class="swiper-wrapper">
          <picture class="swiper-slide">
            <source
              srcset="
                ./img/hero/watch-type-1-1x.jpeg 1x,
                ./img/hero/watch-type-1-2x.jpeg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/hero/watch-type-1-tablet-1x.jpeg 1x,
                ./img/hero/watch-type-1-tablet-2x.jpeg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img src="./img/hero/watch-type-1-1x.jpeg" alt="watch-series" />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./img/hero/watch-type-2-1x.jpeg 1x,
                ./img/hero/watch-type-2-2x.jpeg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/hero/watch-type-2-tablet-1x.jpeg 1x,
                ./img/hero/watch-type-2-tablet-2x.jpeg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img src="./img/hero/watch-type-2-1x.jpeg" alt="watch-series" />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./img/hero/watch-type-3-1x.jpeg 1x,
                ./img/hero/watch-type-3-2x.jpeg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/hero/watch-type-3-tablet-1x.jpeg 1x,
                ./img/hero/watch-type-3-tablet-2x.jpeg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img src="./img/hero/watch-type-3-1x.jpeg" alt="watch-series" />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./img/hero/watch-type-4-1x.jpeg 1x,
                ./img/hero/watch-type-4-2x.jpeg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/hero/watch-type-4-tablet-1x.jpeg 1x,
                ./img/hero/watch-type-4-tablet-2x.jpeg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img src="./img/hero/watch-type-4-1x.jpeg" alt="watch-series" />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./img/hero/watch-type-5-1x.jpeg 1x,
                ./img/hero/watch-type-5-2x.jpeg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/hero/watch-type-5-tablet-1x.jpeg 1x,
                ./img/hero/watch-type-5-tablet-2x.jpeg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img src="./img/hero/watch-type-5-1x.jpeg" alt="watch-series" />
          </picture>
        </div>
        <div class="swiper-control">
          <div class="hero-swiper-nav">
            <button class="button-prev hero-btn">
              <svg class="hero-icon">
                <use href="./img/icons.svg#left"></use>
              </svg>
            </button>
            <button class="button-next hero-btn">
              <svg class="hero-icon">
                <use href="./img/icons.svg#right"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-img-number">
            <span class="swiper-currant-img">01</span>
            <span class="swiper-strip"></span>
            <span>05</span>
          </div>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ./img/hero/hero-img-1x.jpeg 1x,
            ./img/hero/hero-img-2x.jpeg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/hero/hero-img-desktop-1x.jpeg 1x,
            ./img/hero/hero-img-desktop-2x.jpeg 2x
          "
          media="(min-width: 1280px) "
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/hero/hero-img-tablet-1x.jpeg 1x,
            ./img/hero/hero-img-tablet-2x.jpeg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <img src="./img/hero/hero-img-1x.jpeg" alt="watch-on-wrist" />
      </picture>
    </div>
  </div>
</section>
