<section class="section-new-watches">
  <div class="container">
    <h2 class="section-new-h2">New watches</h2>
    <h2 class="section-new-h1">Green And Bronze—The Match Made In Heaven</h2>
    <ul class="new-watch list">
      <li class="section-new-watch-item list link">
        <a href="" class="new-watch-photo link">
          <div class="card-watch">
            <picture>
              <source
                srcset="./img/hand-watch.jpg 1x, ./img/hand-watch-2x.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hand-watch-tab.jpg    1x,
                  ./img/hand-watch-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hand-watch-mob.jpg    1x,
                  ./img/hand-watch-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="new-watch-card"
                src="./img/hand-watch.jpg"
                alt="hand-watch"
                width="576"
                height="422"
              />
            </picture>
          </div>
        </a>
      </li>
      <li class="section-new-watch-item list link">
        <a href="" class="new-watch-photo link">
          <div class="card-watch">
            <picture>
              <source
                srcset="./img/black-watch.jpg 1x, ./img/black-watch-2x.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/black-watch-tab.jpg 1x,
                  ./img/black-watch-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/black-watch-mob.jpg 1x, ./img/black-watch-mob-2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                class="new-watch-card"
                src="./img/black-watch.jpg"
                alt="black-watch"
                width="576"
                height="422"
              />
            </picture>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
