<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/sale.css" />
  </head>
  <body>
    <!--Sale-->
    <section class="sale">
      <div class="container sale-container">
        <h1 class="sale-title">Sale</h1>
        <div class="sale-img-columns">
          <div class="sale-watch-mini">
            <ul class="sale-list list">
              <li class="sale-item">
                <img
                  srcset="./img/sale/watch-sale-1.jpg"
                  src="./img/watch-sale-1-1x.jpg"
                  alt="Watch"
                />
              </li>
              <li class="sale-item">
                <img
                  srcset="./img/sale/watch-sale-2.jpg"
                  src="./img/watch-sale-2-1x.jpg"
                  alt="Watch"
                />
              </li>
              <li class="sale-item">
                <img
                  srcset="./img/sale/watch-sale-3.jpg"
                  src="./img/watch-sale-3-1x.jpg"
                  alt="Watch"
                />
              </li>
              <li class="sale-item">
                <img
                  srcset="./img/sale/watch-sale-4.jpg"
                  src="./img/watch-sale-4-1x.jpg"
                  alt="Watch"
                />
              </li>
            </ul>
          </div>
          <div class="sale-watch-big">
            <ul class="sale-list-big list">
              <li class="sale-item-big">
                <img
                  srcset="./img/sale/watch-sale-big.jpg"
                  src="./img/watch-sale-big-1x.jpg"
                  alt="Watch"
                />
              </li>
            </ul>
          </div>
        </div>

        <div class="sale-content">
          <div class="sale-text-section">
            <h2 class="sale-name-text">Greenlane Watch By Police For MenHT</h2>
            <p class="sale-text-product">Product tag: PEWJK2227003</p>
            <span class="sale-price">
              <p class="sale-text-price">€700</p>
              <p class="sale-text-price-hiden">€1000</p>
            </span>
          </div>
          <div class="sale-text-section">
            <h3 class="sale-subtitle">Description</h3>
            <p class="sale-text-gray">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </div>
          <div class="sale-text-section">
            <h3 class="sale-subtitle">DETAILS & FEATURESTION</h3>
            <p class="sale-text-gray">Gender: man</p>
            <p class="sale-text-gray">Size: 46x54.5mm</p>
            <p class="sale-text-gray">Case Colour: Steel</p>
            <p class="sale-text-gray">Band Material: Metal</p>
            <p class="sale-text-gray">Case Material: Metal</p>
            <p class="sale-text-gray">Features: Multifunction</p>
            <p class="sale-text-gray">Water Resistant: 5 (ATM)</p>
            <p class="sale-text-gray">Band Colour: Steel</p>
          </div>
        </div>
      </div>
    </section>
    <!--/Sale-->
  </body>
</html>
