<!--Sale-->
<section class="sale">
  <div class="container sale-container">
    <h1 class="sale-title" id="sale">Sale</h1>

    <div class="content-wrap">
      <div class="sale-img-columns">
        <!-- <div class="sale-watch-mini"> -->
        <ul class="sale-list list">
          <li class="sale-item">
            <img
              src="./img/sale/watch-sale-1.jpg"
              srcset="./img/sale/watch-sale-1-2x.jpg 2x"
              alt="Watch"
            />
          </li>
          <li class="sale-item">
            <img
              src="./img/sale/watch-sale-2.jpg"
              srcset="./img/sale/watch-sale-2-2x.jpg 2x"
              alt="Watch"
            />
          </li>
          <li class="sale-item">
            <img
              src="./img/sale/watch-sale-3.jpg"
              srcset="./img/sale/watch-sale-3-2x.jpg 2x"
              alt="Watch"
            />
          </li>
          <li class="sale-item">
            <img
              src="./img/sale/watch-sale-4.jpg"
              srcset="./img/sale/watch-sale-4-2x.jpg 2x"
              alt="Watch"
            />
          </li>
        </ul>
        <!-- </div> -->

        <div class="img-wrap">
          <img
            src="./img/sale/watch-sale-big.jpg"
            srcset="./img/sale/watch-sale-big-2x.jpg 2x"
            alt="Watch"
          />
        </div>
      </div>

      <div class="sale-content">
        <div class="sale-text-section sale-text-section-2">
          <h2 class="sale-name-text">Greenlane Watch By Police For MenHT</h2>
          <p class="sale-text-product">Product tag: PEWJK2227003</p>
          <div class="sale-price">
            <p class="sale-text-price">€700</p>
            <p class="sale-text-price-hiden">€1000</p>
          </div>
        </div>
        <div class="sale-text-section sale-text-section-3">
          <h3 class="sale-subtitle">Description</h3>
          <p class="sale-text-gray">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-text-section">
          <h3 class="sale-subtitle">DETAILS & FEATURESTION</h3>
          <p class="sale-text-gray">Gender: man</p>
          <p class="sale-text-gray">Size: 46x54.5mm</p>
          <p class="sale-text-gray">Case Colour: Steel</p>
          <p class="sale-text-gray">Band Material: Metal</p>
          <p class="sale-text-gray">Case Material: Metal</p>
          <p class="sale-text-gray">Features: Multifunction</p>
          <p class="sale-text-gray">Water Resistant: 5 (ATM)</p>
          <p class="sale-text-gray">Band Colour: Steel</p>
        </div>
      </div>
    </div>
  </div>
</section>
