h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
}

.modal {
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  width: 335px;
  max-height: 100vh;
  overflow: scroll;
  border-radius: 4px;
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: rgb(136, 133, 133);
}

.icon-x {
  width: 10px;
  height: 10px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-watch-description {
  margin: 0;

  width: 276px;
}
.modal-model {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
}
.modal-watch-model {
  margin-bottom: 40px;
}

.modal-price {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.modal-watch-model {
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}
.input-text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy {
  text-decoration: underline;
}

.modal-input:not(focus):not(:placeholder-shown):valid {
  border-color: green;
}

.modal-input:not(focus):not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 12px;
  outline: transparent;
  resize: none;
}

.btn {
  display: block;
  border-radius: 8px;
  padding: 18px 116px;
  width: 100%;
  cursor: pointer;
}

.modal-button {
  margin: 0 auto;
  margin-bottom: 12px;
  align-self: center;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  color: #ffffff;
  border-color: transparent;
  background-color: #1e2827;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  border: 1px solid #ffffff;
}

.modal-privacy {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}

.policy {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 744px;
    height: auto;
    overflow: scroll;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-text {
    font-size: 14px;
    line-height: 1.29;
  }

  .icon-x {
    width: 12px;
    height: 12px;
  }

  .modal-form {
    width: 368px;
  }

  .modal-textarea {
    width: 100%;
    height: 166px;
  }

  .modal-watch-btn {
    margin: 0 auto;
  }

  .modal-close-btn {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
  }
  .modal-field-comment {
    margin-bottom: 20px;
  }

  .modal-watch-model {
    padding-right: 20px;
    margin: 0;
  }

  .modal-textarea {
    height: 166px;
  }

  .modal-price {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 904px;
  }

  .modal-input {
    padding: 12px 16px;
  }

  .modal-form {
    width: 508px;
  }

  .modal-field:not(:last-child) {
    margin-bottom: 24px;
  }

  .modal-field-comment {
    margin-bottom: 40px;
  }

  .modal-watch-model {
    padding-right: 40px;
  }
}
