.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}
.button-roll {
  margin-top: 40px;
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1e2827;
  cursor: pointer;
  width: 108px;
  height: 42px;
  padding: 14px 28px 14px 28px;
  border: transparent;
  border-radius: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* float: right; */
  display: block;
  margin: 0 0 0 auto;
}
.button-roll:hover,
.button-roll:focus {
  border: 1px solid #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.section-cat-h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 40px;
}
.catalog-title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  width: 276px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 4px;
}
.watch-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.section-catalog-item * {
  overflow: hidden;
}
.card {
  justify-content: center;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  padding: 43px 30px 43px 30px;
}
.overlay {
  margin-bottom: 14px;
  width: 236px;
  height: 53px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
}
.overlay-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  width: 162px;
  height: 144px;
}
.overlay-h {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ovelay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* width: 335px;
  height: 360px; */
  background-color: #1e2827;
  padding: 40px 59px 40px 40px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.catalog-photo:hover .ovelay-text,
.catalog-photo:focus .ovelay-text {
  transform: translateY(0%);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .section-catalog {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .button-roll {
    width: 122px;
    height: 50px;
    padding: 18px 35px 18px 35px;
  }
  .watch-set {
    gap: 40px 32px;
  }
  .watch-set > .section-catalog-item {
    flex-basis: calc((100% - 32px) / 2);
  }
  .section-cat-h1 {
    font-size: 40px;
    line-height: 1.1;
  }
  .ovelay-text {
    padding: 40px 60px 40px 40px;
  }
  .overlay {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .watch-set {
    gap: 64px 24px;
  }
  .watch-set > .section-catalog-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .button-roll {
    margin-top: 80px;
  }
  .section-cat-h1 {
    margin-bottom: 64px;
  }
  .section-catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ovelay-text {
    padding: 20px 20px 20px 20px;
  }
  .card {
    padding: 26px 0 25px 0;
  }
  .overlay {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 1279px) {
  .watch-add {
    display: none;
  }
}
