/* .container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
} */
/* .section-catalog {
  background-color: #efefef;
} */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}
.button-roll {
  /* font-style: normal; */
  /* font-weight: 400; */

  color: white;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  /* text-align: center; */
  background-color: #1e2827;
  cursor: pointer;
  width: 108px;
  height: 42px;
  /* padding: 14px 28px 14px 28px; */
  border: transparent;
  border-radius: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* float: right; */
  display: block;
  margin: 40px 0 0 auto;
}
.button-roll:hover,
.button-roll:focus {
  border: 1px solid #ffffff;
}

img {
  /* display: block;
  max-width: 100%;
  height: auto; */
  margin-left: auto;
  margin-right: auto;
}
.section-cat-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1e2827;
  /* ------------------margin-bottom: 40px;------ */
  margin-bottom: 41px;
}
.catalog-title {
  /* font-family: 'Epilogue'; */
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  width: 265px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .section-catalog-item {
  margin-bottom: 41px;
} */

.catalog-title-one {
  /* font-family: 'Epilogue'; */
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  width: 279px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-title-two {
  /* font-family: 'Epilogue'; */
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  width: 279px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-text {
  /* font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 4px;
}
.watch-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  /* margin-bottom: 40px; */
}

.section-catalog-item * {
  overflow: hidden;
}
.card {
  position: relative;
  overflow: hidden;

  justify-content: center;
  /*------------- margin-bottom: 14px; */
  padding-bottom: 57px;
  padding-top: 42px;
  padding-bottom: 44px;
  margin-bottom: 13px;

  border-radius: 8px;

  /*-------- padding: 43px 30px 43px 30px; */
}
.overlay {
  margin-bottom: 14px;
  width: 236px;
  height: 53px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
}
.overlay-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  width: 162px;
  height: 144px;
}
.overlay-h {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ovelay-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;

  /* width: 335px;
  height: 360px; */
  background-color: #1e2827;
  padding: 46px 40px 41px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-photo:hover .ovelay-text,
.catalog-photo:focus .ovelay-text {
  transform: translateY(0%);
  /* border-radius: 8px; */
}

@media screen and (min-width: 768px) {
  .section-catalog {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .button-roll {
    width: 122px;
    height: 50px;
    /* padding: 18px 35px 18px 35px; */
  }

  .section-catalog-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .watch-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 40px 32px; */
    gap: 83px 31px;
  }
  .watch-set > .section-catalog-item {
    /* flex-basis: calc((100% - 62px) / 2); */
    width: 336px;
    /* height: 360px; */
  }
  .section-cat-h2 {
    font-size: 40px;
    line-height: 1.1;
  }
  .ovelay-text {
    padding: 40px 60px 40px 40px;
  }
  .overlay {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1279px) {
  .watch-add {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 0;
  }
  .watch-set {
    gap: 64px 24px;
    margin-bottom: 80px;
  }
  .watch-set > .section-catalog-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-catalog-item {
    margin-bottom: 0;
  }
  /* .button-roll {
    margin-top: 80px;
  } */
  .section-cat-h2 {
    margin-bottom: 64px;
  }
  .section-catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ovelay-text {
    padding: 20px 20px 20px 20px;
  }
  .card {
    padding: 26px 0 25px 0;
  }
  .overlay {
    margin-bottom: 20px;
  }
  .catalog-title {
    width: 265px;
  }
  .catalog-title-one {
    width: 275px;
  }
  .catalog-title-two {
    width: 195px;
  }
  .button-roll {
    margin-top: 0;
  }
}
