.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #141414;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-main {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #ffffff;
}
.btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
  /* position: absolute;
  top: 29px;
  right: 20px; */
}
.header-img {
  width: 14px;
  height: 14px;
  margin-left: 0;
  margin-right: 0;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}
.close-icon {
  fill: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 29px 20px;
  background-color: #1e2827;
  z-index: 2;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-header-logo {
  display: flex;
  align-items: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #ffffff;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 29px;
  right: 20px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 200px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-link {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 375px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 767px;
    padding: 29px 20px;
    margin: 0 auto;
  }
  .header-menu {
    display: none;
  }
  .header-phone {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .btn-open {
    display: none;
  }
  .header-main {
    display: flex;
    align-items: center;
  }
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-navigation {
    margin-left: 80px;
    margin-right: auto;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }

  .header-phone {
    min-width: 159px;
    height: 48px;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
  }

  .phone-link {
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #1e2827;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 52px;
    padding-right: 52px;
  }
}
