span {
  margin: 0;
  padding: 0;
}
.hero-desktop {
  display: none;
}
.hero {
  padding-block: 74px 40px;
  background-color: #141414;
}

.hero-title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;

  letter-spacing: -0.04em;

  color: #ffffff;
  margin-bottom: 60px;
}

.hero-icon {
  width: 32px;
  height: 32px;
  stroke: rgba(255, 255, 255, 0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-icon:hover,
.hero-icon:focus {
  stroke: rgba(255, 255, 255);
}
.hero-btn {
  padding: 0;
  margin: 0;
  background-color: inherit;
  height: 32px;
  border: none;
  outline: none;
}

.hero-swiper-nav {
  display: flex;
  gap: 12px;
}
.swiper-control {
  display: flex;
  align-items: end;
  width: 266px;
  justify-content: space-between;
  margin-top: 20px;
}
.swiper {
  margin: 0;
  width: 266px;
}
.swiper-img-number {
  display: flex;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  color: #ffffff;
}

.swiper-strip {
  display: inline-block;
  width: 32px;
  background-color: #ffffff;
  height: 1px;
  margin-inline: 6px;
}
.hero-text {
  display: block;
  max-width: 248px;
  margin: 40px 0 40px auto;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-block: 80px 64px;
  }
  .hero-title {
    font-size: 60px;
    line-height: 1.03;
  }
  .swiper {
    margin-top: auto;
    width: 436px;
  }

  .swiper-control {
    width: 436px;
  }
  .swiper-strip {
    width: 40px;
  }
  .hero-text {
    margin: 74px 0 0 0;
  }
  .hero-tablet-wrap {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
  }
  .hero-btn {
    height: 40px;
  }
  .hero-icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-tablet {
    display: none;
  }
  .hero-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 43px;
  }

  .hero-title {
    margin: 0;
    width: 750px;
  }
  .hero-text {
    margin: 0;
    max-width: 282px;
  }
  .swiper {
    margin-top: auto;
  }
  .hero {
    padding-block: 80px;
  }
}
